global:
  resolve_timeout: 5m

templates:
  - "/etc/alertmanager/templates/*.tmpl"

route:
  group_by: ["alertname", "instance", "severity"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: "discord-notifications"
  routes:
    - match:
        severity: critical
      receiver: "discord-notifications"
    - match:
        severity: warning
      receiver: "discord-notifications"
    - match:
        severity: info
      receiver: "discord-notifications"

inhibit_rules:
  - source_match:
      severity: "critical"
    target_match:
      severity: "warning"
    equal: ["alertname", "instance"]

receivers:
  - name: "discord-notifications"
    webhook_configs:
      - url: "https://discord.com/api/webhooks/1369935547853701272/HhrTwnSHXQSqBOk-a7qyAbm-4YBYFFf4wcjUDbNGBl2HPSGK8iVb4XGGRU8cptrSNtil"
        send_resolved: true
        http_config:
          follow_redirects: true
          headers:
            Content-Type: application/json
        max_alerts: 10
        message: '{{ template "discord.default.message" . }}'
